/*
========================================
background abd shadow
========================================
*/
$main-bg-color: #eee;

// $main-shadow-color: rgba(0, 0, 0, 0.5);

/*
========================================
font
========================================
*/

// basic font color
$main-text-color: #fff;
$weak-text-color: #999;
$attention-text-color: red;

// font 反転 color
