// @use '@/_global/variables/variables';
// @use '@/_global/functions/mixins';

// 接頭辞 共通
.a {
	// 接頭辞 親ディレクトリ - 子ディレクトリ
	// 例：components/atoms → -c-a-
	&-c-o {
		// ブロック名
		&-sideContainer {
			&-wrapper {
				width: 100%;
				margin: auto;

				// @include mixins.mq {
				// 	position: relative;
				// 	display: flex;
				// 	align-items: flex-start;
				// 	max-width: 1300px;
				// }
			}
			&-content {
				width: 100%;

				// @include mixins.mq {
				// 	width: 70%;
				// 	max-width: 960px;
				// }
			}

			// @include mixins.mq('sp-tab') {
			// 	@include mixins.notShow;
			// }

			position: sticky;
			padding: 40px;
			background-color: #fff;
		}
	}
}
