---
import Layout from '@/layouts/Layout.astro';
import Headings from '@/components/common/typography/typography.astro';
---

<Layout title="Welcome to Astro." description="description" canonical="/index.html">
	<main>
		<h1>Welcome to <span class="text-gradient">Astro</span></h1>
		<Headings text="Hello index" />
		<a href="./hoge/">link</a>
	</main>
</Layout>
