@import 'tailwindcss';

@theme {
	/* color pallet */
	--color-base-color: #f5f5f5;
	--color-base-font-color: #444444;
	--color-base-strong: #222222;
	--color-base-line: #777777;
	--color-main: #1e90ff;
	/* fonts */
	--font-main: 'Noto Sans JP', sans-serif;
}
