$mainText: #111;
// ゴシック系日本語フォント
$fontFamilyGothic: 'Helvetica Neue', Helvetica, 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', Arial, 'Yu Gothic', Meiryo,
	sans-serif;

// 明朝系日本語フォント
$fontFamilyMincho: 'Times New Roman', YuMincho, 'Hiragino Mincho ProN', 'Yu Mincho', 'MS PMincho', serif;

// 〇〇系××フォント
$fontFamilyXXX: '';
