/*
========================================
font family
========================================
*/

// ゴシック系日本語フォント
$font-family-gothic: 'Helvetica Neue', helvetica, 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', arial, 'Yu Gothic', meiryo, sans-serif;

// 明朝系日本語フォント
$font-family-mincho: 'Times New Roman', yumincho, 'Hiragino Mincho ProN', 'Yu Mincho', 'MS PMincho', serif;

// 〇〇系××フォント
$font-family-xxx: '';

/*
========================================
basic font size
========================================
*/

$basic-text-font-size: 16px;
