---
import Layout from '@/layouts/Layout.astro';
import Headings from '@/components/common/typography/typography.astro';
---

<Layout title="ホゲホゲ" description="description" canonical="/hoge/">
	<main>
		<h1>ホゲホゲ</h1>
		<Headings text="Hello hoge" />
		<a href="/">戻る</a>
	</main>
</Layout>
