---
import Layout from '@/layouts/Layout.astro';
import { BasicHeading1 } from '@/components/common/typography/typography';
---

<Layout title="ホゲホゲ" description="description" canonical="/hoge/">
	<main>
		<h1>ホゲホゲ</h1>
		<BasicHeading1 text="Hello hoge" />
		<a href="/">戻る</a>
	</main>
</Layout>
