---
import Layout from '@/layouts/Layout.astro'
import Heading from '@/components/Heading'
---

<Layout title="ホゲホゲ" description="description" canonical="/kakeibo/index.html">
	<main>
		<h1>ホゲホゲ</h1>
		<Heading str="Hello" />
		<a href="/">戻る</a>
	</main>
</Layout>