@charset 'UTF-8';

/*! buildOutputFile: components */

.typography {
	&_h1 {
		font-size: 2rem;
	}
	&_h2 {
		font-family: 'メイリオ', 'ヒラギノ丸ゴ ProN', serif;
		font-size: 1.5rem;
	}
	&_h3 {
		font-size: 1.25rem;
	}
	&_h4 {
		font-size: 1rem;
	}
}
