@use '@/_global/variables/variables';
@use '@/_global/functions/mixins';

// 背景のスクロールを止める
body.-modal--scroll-prevented {
	position: fixed;
	z-index: 1;
	width: 100%;
	overflow: hidden;
}

// 接頭辞 共通
.a {
	// 接頭辞 親ディレクトリ - 子ディレクトリ
	// 例：components/atoms → -c-a-
	&-c-o {
		// ブロック名
		&-modal {
			$base-z-index: 100;
			$self: &;

			position: fixed;
			inset: 0;
			z-index: -1;
			display: flex;
			align-items: stretch;
			padding: 0 24px;
			margin: 0 auto;
			visibility: hidden;

			// easeOutQuart
			transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s;
			transform: translate3d(0, 100%, 0);
			will-change: transform;
			#{$self}.-opening & {
				z-index: ($base-z-index + 1);
				visibility: visible;
				transform: translate3d(0, 0, 0);
			}
			#{$self}.-opened & {
				z-index: ($base-z-index + 1);
				visibility: visible;
				transform: translate3d(0, 0, 0);
			}
			#{$self}.-closing & {
				z-index: ($base-z-index + 1);
				visibility: visible;
				transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
				transform: translate3d(0, 100%, 0);
			}

			// 背景
			&__background {
				position: absolute;
				inset: 0;
				z-index: -1;
				display: block;
				height: 100%;

				// デフォルトではhiddenにしておく
				visibility: hidden;
				background: rgba(0, 0, 0, 0.8);
				opacity: 0;
				transition: opacity 0.2s linear;
				will-change: opacity;

				// opening == 開くTransition, opened == 開いている状態
				#{$self}.-opening &,
				#{$self}.-opened & {
					z-index: $base-z-index;
					visibility: visible;
					opacity: 1;
				}

				// closing == 閉じるTransition
				#{$self}.-closing & {
					z-index: $base-z-index;
					visibility: visible;
					opacity: 0;
				}
			}

			// スクロールコンテナー
			&__scroller {
				position: relative;
				flex: 1 1 auto;
				overflow-x: hidden;
				overflow-y: scroll;
			}

			// コンテンツ
			&__contents {
				width: 100%;
				background: #fff;
			}
		}
	}
}
