// @use '@/_global/variables/variables';
// @use '@/_global/functions/mixins';

// 接頭辞 共通
.a {
	// 接頭辞 親ディレクトリ - 子ディレクトリ
	// 例：components/atoms → -c-a-
	&-c-a {
		// ブロック名
		&-label {
			padding: 4px 8px;
			font-size: 14px;
			font-weight: 400;
			line-height: 1;
			border-radius: 20px;

			// color
		}
	}
}
