// @use '@/_global/variables/variables';
// @use '@/_global/functions/mixins';

// 接頭辞 共通
.a {
	// 接頭辞 親ディレクトリ - 子ディレクトリ
	// 例：components/atoms → -c-a-
	&-c-a {
		// ブロック名
		&-textLink {
			// &.-underline{}
			&.-add-icon {
				display: flex;
				align-items: center;
			}
			&__icon {
				width: 1.2em;
				height: 1.2em;
				margin-right: 0.5em;
			}
		}
	}
}
