---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Test Options on Astro." description="description" canonical="/astrotest/">
	<main>
		<h1>astro learning options...</h1>
		<ul>
			<li><a href="./imagetest.html">image test</a></li>
			<li><a href="./styling.html">styling test</a></li>
		</ul>
	</main>
</Layout>
