@font-face {
	font-family: NotoSansJP;
	src: url('../_modules/assets/fonts/NotoSansJP-VariableFont_wght.ttf');
}

:root {
	font-family: NotoSansJP, Helvetica, Arial, sans-serif;
	font-weight: 400;
	line-height: 1.5;
	color: rgba(255 255 255 / 0.87);
	background-color: #242424;
	font-synthesis: none;
	text-rendering: optimizelegibility;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}

a:hover {
	color: #535bf2;
}

body {
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
	margin: 0;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

#app {
	max-width: 1280px;
	padding: 2rem;
	margin: 0 auto;
	text-align: center;
}

.logo {
	height: 6em;
	padding: 1.5em;
	will-change: filter;
	transition: filter 300ms;
}

.logo:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.vanilla:hover {
	filter: drop-shadow(0 0 2em #3178c6aa);
}

.card {
	padding: 2em;
	background-image: url('../_modules/assets/img/Example_image.png');
}

.read-the-docs {
	color: #888;
}

button {
	padding: 0.6em 1.2em;
	font-family: inherit;
	font-size: 1em;
	font-weight: 500;
	cursor: pointer;
	background-color: #1a1a1a;
	border: 1px solid transparent;
	border-radius: 8px;
	transition: border-color 0.25s;

	&:hover {
		border-color: #646cff;
	}

	&:focus,
	&:focus-visible {
		outline: 4px auto -webkit-focus-ring-color;
	}
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #fff;
	}

	a:hover {
		color: #747bff;
	}

	button {
		background-color: #f9f9f9;
	}
}
