/*! buildOutputFile: base */
*,
*::before,
*::after {
	box-sizing: border-box;

	@media (prefers-reduced-motion: reduce) {
		transition-duration: 0.01ms !important;
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		scroll-behavior: auto !important;
	}
}

// for print
@media print {
	*,
	*::before,
	*::after {
		print-color-adjust: exact;
	}
}

* {
	min-inline-size: 0;
	padding: 0;
	margin: 0;
}

// text and heading and link
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

ul,
ol,
menu,
summary {
	list-style: none;
}

// clickable
a {
	text-decoration-skip-ink: auto;
	color: currentcolor;
	&:link,
	&:active {
		color: currentcolor;
	}
}

button,
[role='button'] {
	appearance: none;
	touch-action: manipulation;
	cursor: pointer;
	background: none;
	border: none;
}

summary {
	display: block;
	&::-webkit-details-marker {
		/* Safariで表示されるデフォルトの三角形アイコンを消します */
		display: none;
		visibility: hidden;
	}
}

// img
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
	width: 100%;
	height: auto;
}

img {
	border-style: none;
	shape-margin: 0.75rem;
}

svg {
	overflow: hidden;
}

// form
input,
button,
textarea,
select {
	font: inherit;
}

input,
textarea {
	user-select: auto;
}

textarea {
	white-space: revert;
}

// others
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
	display: block;
}

meter {
	appearance: revert;
}

::placeholder {
	color: unset;
}

// for html props
[hidden] {
	display: none;
	visibility: hidden;
}

html {
	text-size-adjust: none;
	&:focus-within {
		scroll-behavior: smooth;

		@media (prefers-reduced-motion: reduce) {
			scroll-behavior: auto;
		}
	}
}

body {
	min-height: 100vh;
	font-size: 16px;
	word-break: auto-phrase;
	overflow-wrap: break-word;
	line-break: strict;
	text-rendering: optimizespeed;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace;
}

// setup
/*! buildOutputFile: base */
body {
	display: flex;
	font-family: var(--font-family);
	font-size: 16px;
	color: #333;
	background-color: var(--foreground-color);
}
