*,
*::before,
*::after {
	box-sizing: border-box;

	@media (prefers-reduced-motion: reduce) {
		transition-duration: 0.01ms !important;
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		scroll-behavior: auto !important;
	}
}

* {
	padding: 0;
	margin: 0;
}

// text and heading and link
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

ul,
ol,
menu,
summary {
	list-style: none;
}

// clickable
a {
	text-decoration-skip-ink: auto;
	color: currentcolor;

	// &:link,
	// &:active {
	// 	color: currentColor;
	// }
}

button,
[role='button'] {
	appearance: none;
	cursor: pointer;
	background: none;
	border: none;
}

summary {
	display: block;
	&::-webkit-details-marker {
		/* Safariで表示されるデフォルトの三角形アイコンを消します */
		display: none;
	}
}

// img
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
	height: auto;
}

img {
	border-style: none;
}

svg {
	overflow: hidden;
}

// form
input,
button,
textarea,
select {
	font: inherit;
}

input,
textarea {
	user-select: auto;
}

textarea {
	white-space: revert;
}

// others
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
	display: block;
}

meter {
	appearance: revert;
}

::placeholder {
	color: unset;
}

// for html props
[hidden] {
	display: none;
	visibility: hidden;
}

// for print
@media print {
	*,
	*::before,
	*::after {
		color-adjust: exact;
	}
}
