@use '@/_global/variables/variables';
@use '@/_global/functions/mixins';

// 接頭辞 共通
.a {
	// 接頭辞 親ディレクトリ - 子ディレクトリ
	// 例：components/atoms → -c-a-
	&-c-o {
		// ブロック名
		&-chart {
			position: absolute;
			right: 50%;
			bottom: 50%;
			width: 100% !important;
			height: 100% !important;
			transform: translate(50%, 50%);
			&-wrapper {
				position: relative;
				display: block;
				width: 100%;
				max-width: 700px;
				height: 80px;
				margin: auto;
				&.-circle-in-value,
				&.-circle {
					width: 300px;
					height: 300px;
				}
				&.-line {
					height: 500px;
				}
			}
		}
		// 凡例 Legend
		&-chart-legend {
			position: relative;
			z-index: 2;
			margin:auto;
			&__list {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
			}
			&__item {
				display: flex;
				align-items: center;
				& + &{
					margin-left: 20px;
				}
			}
			&__icon {
				width: 24px;
				height: 24px;
				margin-right: 4px;
			}
			&__text {
				font-size: 12px;
			}
		}
		// Custom Tooltip
		&-chart-tooltip{
			position: absolute;
			display: inline-block;
			&__text {
				font-size: 12px;
			}
		}
	}
}
