@use '@/_global/variables/variables';
@use '@/_global/functions/mixins';

// 接頭辞 共通
.a {
	// 接頭辞 親ディレクトリ - 子ディレクトリ
	// 例：components/atoms → -c-a-
	&-c-o {
		// ブロック名
		&-chart {
			position: absolute;
			right: 50%;
			bottom: 50%;
			width: 100% !important;
			height: 100% !important;
			transform: translate(50%, 50%);
			&-wrapper {
				position: relative;
				display: block;
				width: 100%;
				max-width: 700px;
				height: 80px;
				margin: auto;
				overflow: hidden;
			}
		}
	}
}
