@charset "UTF-8";

body.show-modal {
	overflow: hidden;
	height: 100vh;
}

/*
========================================
unique class (from wedding site)
========================================
*/
.show-modal .unique-floating-menu {
	display: none !important;
}
.unique-modal-swiper .swiper-button-next,
.unique-modal-swiper .swiper-button-prev {
	border-radius: 50%;
	background-color: #d8d6b4;
	padding: 6px;
}
.unique-modal-swiper .swiper-button-next:hover,
.unique-modal-swiper .swiper-button-prev:hover {
	opacity: 0.8;
}
.unique-list > li {
	position: relative;
	padding-left: 1.5rem;
}
.unique-list > li:after {
	position: absolute;
	left: 0em;
	top: 0em;
	font-size: 1.25rem;
}

.unique-list.-ol {
	counter-reset: item;
}
.unique-list.-ol > li:after {
	content: counter(item);
	counter-increment: item;
}
.unique-list.-ul > li:after {
	content: 'ãƒ»';
}

.unique-font-arrangement-banzai {
	position: relative;
	display: inline-block;
	padding: 0px 0.75em;
}
/* text arrange */
.unique-font-arrangement-banzai::before,
.unique-font-arrangement-banzai::after {
	content: '';
	width: 1px;
	height: 75%;
	background-color: #333;
	position: absolute;
	top: 50%;
}
.unique-font-arrangement-banzai::before {
	left: 0;
	transform: translateY(-50%) rotate(-30deg);
}
.unique-font-arrangement-banzai::after {
	right: 0;
	transform: translateY(-50%) rotate(30deg);
}
/* background resource */
[class^='unique-bg-flower-parts'] {
	background-repeat: no-repeat;
}
.unique-bg-flower-parts--row-a {
	background-image: url(/components/uniqueComponents/weddingSite/assets/img/flower-row-a.webp);
	background-size: contain;
	background-repeat: repeat-x;
}
/* .unique-bg-flower-parts--row-b {
	background-image: url(/components/uniqueComponents/weddingSite/assets/img/flower-row-b.webp);
	background-size: 320px 134px;
} */
.unique-bg-flower-parts--p-a {
	background-image: url(/components/uniqueComponents/weddingSite/assets/img/flower-parts-a.webp);
	background-size: 405px 344px;
}
/* .unique-bg-flower-parts--p-b {
	background-image: url(/components/uniqueComponents/weddingSite/assets/img/flower-parts-b.webp);
	background-size: 360px 380px;
} */
.unique-bg-flower-parts--col-a {
	background-image: url(/components/uniqueComponents/weddingSite/assets/img/flower-col-a.png);
	background-size: contain;
	filter: contrast(1) invert(0.07);
	background-position: center;
}
/* icons */
.unique-icon > svg {
	display: block;
	width: 100%;
	height: 100%;
}
/* animations */
/* from react-cool-inview */
.unique-home-bg {
	opacity: 0;
}
.unique-home-bg.-show {
	opacity: 1;
}
.animate-blink {
	animation: blink 1.5s ease-in-out infinite;
}
@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.2;
	}
	100% {
		opacity: 1;
	}
}
