@charset "UTF-8";

@mixin utility {
	// CSSショートハンド
	// display
	&-d {
		&-initial {
			display: initial !important;
		}
		&-inherit {
			display: inherit !important;
		}
		&-none {
			display: none !important;
		}
		&-block {
			display: block !important;
		}
		&-inline {
			display: inline !important;
		}
		&-inline-block {
			display: inline-block !important;
		}
		&-table {
			display: table !important;
		}
		&-table-row {
			display: table-row !important;
		}
		&-table-cell {
			display: table-cell !important;
		}
	}

	// width
	&-w {
		&-initial {
			width: initial !important;
		}
		&-inherit {
			width: inherit !important;
		}
		&-auto {
			width: auto !important;
		}
		&-0 {
			width: 0 !important;
		}
		&-10p {
			width: 10% !important;
		}
		&-20p {
			width: 20% !important;
		}
		&-30p {
			width: 30% !important;
		}
		&-40p {
			width: 40% !important;
		}
		&-50p {
			width: 50% !important;
		}
		&-60p {
			width: 60% !important;
		}
		&-70p {
			width: 70% !important;
		}
		&-80p {
			width: 80% !important;
		}
		&-90p {
			width: 90% !important;
		}
		&-25p {
			width: 25% !important;
		}
		&-75p {
			width: 75% !important;
		}
		&-33p {
			width: 33.33% !important;
		}
		&-66p {
			width: 66.67% !important;
		}
		&-100p {
			width: 100% !important;
		}
		&-10vw {
			width: 10vw !important;
		}
		&-20vw {
			width: 20vw !important;
		}
		&-30vw {
			width: 30vw !important;
		}
		&-40vw {
			width: 40vw !important;
		}
		&-50vw {
			width: 50vw !important;
		}
		&-60vw {
			width: 60vw !important;
		}
		&-70vw {
			width: 70vw !important;
		}
		&-80vw {
			width: 80vw !important;
		}
		&-90vw {
			width: 90vw !important;
		}
		&-25vw {
			width: 25vw !important;
		}
		&-75vw {
			width: 75vw !important;
		}
		&-33vw {
			width: 33.33vw !important;
		}
		&-66vw {
			width: 66.67vw !important;
		}
		&-100vw {
			width: 100vw !important;
		}
	}

	// min-width
	&-miw {
		&-auto {
			min-width: auto !important;
		}
		&-10p {
			min-width: 10% !important;
		}
		&-20p {
			min-width: 20% !important;
		}
		&-30p {
			min-width: 30% !important;
		}
		&-40p {
			min-width: 40% !important;
		}
		&-50p {
			min-width: 50% !important;
		}
		&-60p {
			min-width: 60% !important;
		}
		&-70p {
			min-width: 70% !important;
		}
		&-80p {
			min-width: 80% !important;
		}
		&-90p {
			min-width: 90% !important;
		}
		&-25p {
			min-width: 25% !important;
		}
		&-75p {
			min-width: 75% !important;
		}
		&-33p {
			min-width: 33.33% !important;
		}
		&-66p {
			min-width: 66.67% !important;
		}
		&-100p {
			min-width: 100% !important;
		}
		&-10vw {
			min-width: 10vw !important;
		}
		&-20vw {
			min-width: 20vw !important;
		}
		&-30vw {
			min-width: 30vw !important;
		}
		&-40vw {
			min-width: 40vw !important;
		}
		&-50vw {
			min-width: 50vw !important;
		}
		&-60vw {
			min-width: 60vw !important;
		}
		&-70vw {
			min-width: 70vw !important;
		}
		&-80vw {
			min-width: 80vw !important;
		}
		&-90vw {
			min-width: 90vw !important;
		}
		&-25vw {
			min-width: 25vw !important;
		}
		&-75vw {
			min-width: 75vw !important;
		}
		&-33vw {
			min-width: 33.33vw !important;
		}
		&-66vw {
			min-width: 66.67vw !important;
		}
		&-100vw {
			min-width: 100vw !important;
		}
	}

	// max-width
	&-maw {
		&-auto {
			max-width: auto !important;
		}
		&-10p {
			max-width: 10% !important;
		}
		&-20p {
			max-width: 20% !important;
		}
		&-30p {
			max-width: 30% !important;
		}
		&-40p {
			max-width: 40% !important;
		}
		&-50p {
			max-width: 50% !important;
		}
		&-60p {
			max-width: 60% !important;
		}
		&-70p {
			max-width: 70% !important;
		}
		&-80p {
			max-width: 80% !important;
		}
		&-90p {
			max-width: 90% !important;
		}
		&-25p {
			max-width: 25% !important;
		}
		&-75p {
			max-width: 75% !important;
		}
		&-33p {
			max-width: 33.33% !important;
		}
		&-66p {
			max-width: 66.67% !important;
		}
		&-100p {
			max-width: 100% !important;
		}
		&-10vw {
			max-width: 10vw !important;
		}
		&-20vw {
			max-width: 20vw !important;
		}
		&-30vw {
			max-width: 30vw !important;
		}
		&-40vw {
			max-width: 40vw !important;
		}
		&-50vw {
			max-width: 50vw !important;
		}
		&-60vw {
			max-width: 60vw !important;
		}
		&-70vw {
			max-width: 70vw !important;
		}
		&-80vw {
			max-width: 80vw !important;
		}
		&-90vw {
			max-width: 90vw !important;
		}
		&-25vw {
			max-width: 25vw !important;
		}
		&-75vw {
			max-width: 75vw !important;
		}
		&-33vw {
			max-width: 33.33vw !important;
		}
		&-66vw {
			max-width: 66.67vw !important;
		}
		&-100vw {
			max-width: 100vw !important;
		}
	}

	// height
	&-h {
		&-initial {
			height: initial !important;
		}
		&-inherit {
			height: inherit !important;
		}
		&-auto {
			height: auto !important;
		}
		&-0 {
			height: 0 !important;
		}
		&-10p {
			height: 10% !important;
		}
		&-20p {
			height: 20% !important;
		}
		&-30p {
			height: 30% !important;
		}
		&-40p {
			height: 40% !important;
		}
		&-50p {
			height: 50% !important;
		}
		&-60p {
			height: 60% !important;
		}
		&-70p {
			height: 70% !important;
		}
		&-80p {
			height: 80% !important;
		}
		&-90p {
			height: 90% !important;
		}
		&-25p {
			height: 25% !important;
		}
		&-75p {
			height: 75% !important;
		}
		&-33p {
			height: 33.33% !important;
		}
		&-66p {
			height: 66.67% !important;
		}
		&-100p {
			height: 100% !important;
		}
		&-10vh {
			height: 10vh !important;
		}
		&-20vh {
			height: 20vh !important;
		}
		&-30vh {
			height: 30vh !important;
		}
		&-40vh {
			height: 40vh !important;
		}
		&-50vh {
			height: 50vh !important;
		}
		&-60vh {
			height: 60vh !important;
		}
		&-70vh {
			height: 70vh !important;
		}
		&-80vh {
			height: 80vh !important;
		}
		&-90vh {
			height: 90vh !important;
		}
		&-25vh {
			height: 25vh !important;
		}
		&-75vh {
			height: 75vh !important;
		}
		&-33vh {
			height: 33.33vh !important;
		}
		&-66vh {
			height: 66.67vh !important;
		}
		&-100vh {
			height: 100vh !important;
		}
	}

	// min-height
	&-mih {
		&-auto {
			min-height: auto !important;
		}
		&-10p {
			min-height: 10% !important;
		}
		&-20p {
			min-height: 20% !important;
		}
		&-30p {
			min-height: 30% !important;
		}
		&-40p {
			min-height: 40% !important;
		}
		&-50p {
			min-height: 50% !important;
		}
		&-60p {
			min-height: 60% !important;
		}
		&-70p {
			min-height: 70% !important;
		}
		&-80p {
			min-height: 80% !important;
		}
		&-90p {
			min-height: 90% !important;
		}
		&-25p {
			min-height: 25% !important;
		}
		&-75p {
			min-height: 75% !important;
		}
		&-33p {
			min-height: 33.33% !important;
		}
		&-66p {
			min-height: 66.67% !important;
		}
		&-100p {
			min-height: 100% !important;
		}
		&-10vw {
			min-height: 10vw !important;
		}
		&-20vw {
			min-height: 20vw !important;
		}
		&-30vw {
			min-height: 30vw !important;
		}
		&-40vw {
			min-height: 40vw !important;
		}
		&-50vw {
			min-height: 50vw !important;
		}
		&-60vw {
			min-height: 60vw !important;
		}
		&-70vw {
			min-height: 70vw !important;
		}
		&-80vw {
			min-height: 80vw !important;
		}
		&-90vw {
			min-height: 90vw !important;
		}
		&-25vw {
			min-height: 25vw !important;
		}
		&-75vw {
			min-height: 75vw !important;
		}
		&-33vw {
			min-height: 33.33vw !important;
		}
		&-66vw {
			min-height: 66.67vw !important;
		}
		&-100vw {
			min-height: 100vw !important;
		}
	}

	// max-height
	&-mah {
		&-auto {
			max-height: auto !important;
		}
		&-10p {
			max-height: 10% !important;
		}
		&-20p {
			max-height: 20% !important;
		}
		&-30p {
			max-height: 30% !important;
		}
		&-40p {
			max-height: 40% !important;
		}
		&-50p {
			max-height: 50% !important;
		}
		&-60p {
			max-height: 60% !important;
		}
		&-70p {
			max-height: 70% !important;
		}
		&-80p {
			max-height: 80% !important;
		}
		&-90p {
			max-height: 90% !important;
		}
		&-25p {
			max-height: 25% !important;
		}
		&-75p {
			max-height: 75% !important;
		}
		&-33p {
			max-height: 33.33% !important;
		}
		&-66p {
			max-height: 66.67% !important;
		}
		&-100p {
			max-height: 100% !important;
		}
		&-10vw {
			max-height: 10vw !important;
		}
		&-20vw {
			max-height: 20vw !important;
		}
		&-30vw {
			max-height: 30vw !important;
		}
		&-40vw {
			max-height: 40vw !important;
		}
		&-50vw {
			max-height: 50vw !important;
		}
		&-60vw {
			max-height: 60vw !important;
		}
		&-70vw {
			max-height: 70vw !important;
		}
		&-80vw {
			max-height: 80vw !important;
		}
		&-90vw {
			max-height: 90vw !important;
		}
		&-25vw {
			max-height: 25vw !important;
		}
		&-75vw {
			max-height: 75vw !important;
		}
		&-33vw {
			max-height: 33.33vw !important;
		}
		&-66vw {
			max-height: 66.67vw !important;
		}
		&-100vw {
			max-height: 100vw !important;
		}
	}

	// margin
	&-m {
		&-initial {
			margin: initial !important;
		}
		&-inherit {
			margin: inherit !important;
		}
		&-auto {
			margin: auto !important;
		}
		&-0-auto {
			margin: 0 auto !important;
		}
		&-0 {
			margin: 0 !important;
		}
		&-4 {
			margin: 4px !important;
		}
		&-8 {
			margin: 8px !important;
		}
		&-12 {
			margin: 12px !important;
		}
		&-16 {
			margin: 16px !important;
		}
		&-20 {
			margin: 20px !important;
		}
		&-24 {
			margin: 24px !important;
		}
		&-28 {
			margin: 28px !important;
		}
		&-32 {
			margin: 32px !important;
		}
		&-36 {
			margin: 36px !important;
		}
		&-40 {
			margin: 40px !important;
		}
		&-44 {
			margin: 44px !important;
		}
		&-48 {
			margin: 48px !important;
		}
		&-52 {
			margin: 52px !important;
		}
		&-56 {
			margin: 56px !important;
		}
		&-60 {
			margin: 60px !important;
		}
		&-64 {
			margin: 64px !important;
		}
		&-68 {
			margin: 68px !important;
		}
		&-72 {
			margin: 72px !important;
		}
		&-76 {
			margin: 76px !important;
		}
		&-80 {
			margin: 80px !important;
		}
		&-84 {
			margin: 84px !important;
		}
		&-88 {
			margin: 88px !important;
		}
		&-92 {
			margin: 92px !important;
		}
		&-96 {
			margin: 96px !important;
		}
		&-100 {
			margin: 100px !important;
		}
	}

	// margin-top
	&-mt {
		&-initial {
			margin-top: initial !important;
		}
		&-inherit {
			margin-top: inherit !important;
		}
		&-auto {
			margin-top: auto !important;
		}
		&-0 {
			margin-top: 0 !important;
		}
		&-4 {
			margin-top: 4px !important;
		}
		&-8 {
			margin-top: 8px !important;
		}
		&-12 {
			margin-top: 12px !important;
		}
		&-16 {
			margin-top: 16px !important;
		}
		&-20 {
			margin-top: 20px !important;
		}
		&-24 {
			margin-top: 24px !important;
		}
		&-28 {
			margin-top: 28px !important;
		}
		&-32 {
			margin-top: 32px !important;
		}
		&-36 {
			margin-top: 36px !important;
		}
		&-40 {
			margin-top: 40px !important;
		}
		&-44 {
			margin-top: 44px !important;
		}
		&-48 {
			margin-top: 48px !important;
		}
		&-52 {
			margin-top: 52px !important;
		}
		&-56 {
			margin-top: 56px !important;
		}
		&-60 {
			margin-top: 60px !important;
		}
		&-64 {
			margin-top: 64px !important;
		}
		&-68 {
			margin-top: 68px !important;
		}
		&-72 {
			margin-top: 72px !important;
		}
		&-76 {
			margin-top: 76px !important;
		}
		&-80 {
			margin-top: 80px !important;
		}
		&-84 {
			margin-top: 84px !important;
		}
		&-88 {
			margin-top: 88px !important;
		}
		&-92 {
			margin-top: 92px !important;
		}
		&-96 {
			margin-top: 96px !important;
		}
		&-100 {
			margin-top: 100px !important;
		}
	}

	// margin-bottom
	&-mb {
		&-initial {
			margin-bottom: initial !important;
		}
		&-inherit {
			margin-bottom: inherit !important;
		}
		&-auto {
			margin-bottom: auto !important;
		}
		&-0 {
			margin-bottom: 0 !important;
		}
		&-4 {
			margin-bottom: 4px !important;
		}
		&-8 {
			margin-bottom: 8px !important;
		}
		&-12 {
			margin-bottom: 12px !important;
		}
		&-16 {
			margin-bottom: 16px !important;
		}
		&-20 {
			margin-bottom: 20px !important;
		}
		&-24 {
			margin-bottom: 24px !important;
		}
		&-28 {
			margin-bottom: 28px !important;
		}
		&-32 {
			margin-bottom: 32px !important;
		}
		&-36 {
			margin-bottom: 36px !important;
		}
		&-40 {
			margin-bottom: 40px !important;
		}
		&-44 {
			margin-bottom: 44px !important;
		}
		&-48 {
			margin-bottom: 48px !important;
		}
		&-52 {
			margin-bottom: 52px !important;
		}
		&-56 {
			margin-bottom: 56px !important;
		}
		&-60 {
			margin-bottom: 60px !important;
		}
		&-64 {
			margin-bottom: 64px !important;
		}
		&-68 {
			margin-bottom: 68px !important;
		}
		&-72 {
			margin-bottom: 72px !important;
		}
		&-76 {
			margin-bottom: 76px !important;
		}
		&-80 {
			margin-bottom: 80px !important;
		}
		&-84 {
			margin-bottom: 84px !important;
		}
		&-88 {
			margin-bottom: 88px !important;
		}
		&-92 {
			margin-bottom: 92px !important;
		}
		&-96 {
			margin-bottom: 96px !important;
		}
		&-100 {
			margin-bottom: 100px !important;
		}
	}

	// margin-left
	&-ml {
		&-initial {
			margin-left: initial !important;
		}
		&-inherit {
			margin-left: inherit !important;
		}
		&-auto {
			margin-left: auto !important;
		}
		&-0 {
			margin-left: 0 !important;
		}
		&-4 {
			margin-left: 4px !important;
		}
		&-8 {
			margin-left: 8px !important;
		}
		&-12 {
			margin-left: 12px !important;
		}
		&-16 {
			margin-left: 16px !important;
		}
		&-20 {
			margin-left: 20px !important;
		}
		&-24 {
			margin-left: 24px !important;
		}
		&-28 {
			margin-left: 28px !important;
		}
		&-32 {
			margin-left: 32px !important;
		}
		&-36 {
			margin-left: 36px !important;
		}
		&-40 {
			margin-left: 40px !important;
		}
		&-44 {
			margin-left: 44px !important;
		}
		&-48 {
			margin-left: 48px !important;
		}
		&-52 {
			margin-left: 52px !important;
		}
		&-56 {
			margin-left: 56px !important;
		}
		&-60 {
			margin-left: 60px !important;
		}
		&-64 {
			margin-left: 64px !important;
		}
		&-68 {
			margin-left: 68px !important;
		}
		&-72 {
			margin-left: 72px !important;
		}
		&-76 {
			margin-left: 76px !important;
		}
		&-80 {
			margin-left: 80px !important;
		}
		&-84 {
			margin-left: 84px !important;
		}
		&-88 {
			margin-left: 88px !important;
		}
		&-92 {
			margin-left: 92px !important;
		}
		&-96 {
			margin-left: 96px !important;
		}
		&-100 {
			margin-left: 100px !important;
		}
	}

	// margin-right
	&-mr {
		&-initial {
			margin-right: initial !important;
		}
		&-inherit {
			margin-right: inherit !important;
		}
		&-auto {
			margin-right: auto !important;
		}
		&-0 {
			margin-right: 0 !important;
		}
		&-4 {
			margin-right: 4px !important;
		}
		&-8 {
			margin-right: 8px !important;
		}
		&-12 {
			margin-right: 12px !important;
		}
		&-16 {
			margin-right: 16px !important;
		}
		&-20 {
			margin-right: 20px !important;
		}
		&-24 {
			margin-right: 24px !important;
		}
		&-28 {
			margin-right: 28px !important;
		}
		&-32 {
			margin-right: 32px !important;
		}
		&-36 {
			margin-right: 36px !important;
		}
		&-40 {
			margin-right: 40px !important;
		}
		&-44 {
			margin-right: 44px !important;
		}
		&-48 {
			margin-right: 48px !important;
		}
		&-52 {
			margin-right: 52px !important;
		}
		&-56 {
			margin-right: 56px !important;
		}
		&-60 {
			margin-right: 60px !important;
		}
		&-64 {
			margin-right: 64px !important;
		}
		&-68 {
			margin-right: 68px !important;
		}
		&-72 {
			margin-right: 72px !important;
		}
		&-76 {
			margin-right: 76px !important;
		}
		&-80 {
			margin-right: 80px !important;
		}
		&-84 {
			margin-right: 84px !important;
		}
		&-88 {
			margin-right: 88px !important;
		}
		&-92 {
			margin-right: 92px !important;
		}
		&-96 {
			margin-right: 96px !important;
		}
		&-100 {
			margin-right: 100px !important;
		}
	}

	// padding
	&-p {
		&-initial {
			padding: initial !important;
		}
		&-inherit {
			padding: inherit !important;
		}
		&-auto {
			padding: auto !important;
		}
		&-0 {
			padding: 0 !important;
		}
		&-4 {
			padding: 4px !important;
		}
		&-8 {
			padding: 8px !important;
		}
		&-12 {
			padding: 12px !important;
		}
		&-16 {
			padding: 16px !important;
		}
		&-20 {
			padding: 20px !important;
		}
		&-24 {
			padding: 24px !important;
		}
		&-28 {
			padding: 28px !important;
		}
		&-32 {
			padding: 32px !important;
		}
		&-36 {
			padding: 36px !important;
		}
		&-40 {
			padding: 40px !important;
		}
		&-44 {
			padding: 44px !important;
		}
		&-48 {
			padding: 48px !important;
		}
		&-52 {
			padding: 52px !important;
		}
		&-56 {
			padding: 56px !important;
		}
		&-60 {
			padding: 60px !important;
		}
		&-64 {
			padding: 64px !important;
		}
		&-68 {
			padding: 68px !important;
		}
		&-72 {
			padding: 72px !important;
		}
		&-76 {
			padding: 76px !important;
		}
		&-80 {
			padding: 80px !important;
		}
		&-84 {
			padding: 84px !important;
		}
		&-88 {
			padding: 88px !important;
		}
		&-92 {
			padding: 92px !important;
		}
		&-96 {
			padding: 96px !important;
		}
		&-100 {
			padding: 100px !important;
		}
	}

	// padding-top
	&-pt {
		&-initial {
			padding-top: initial !important;
		}
		&-inherit {
			padding-top: inherit !important;
		}
		&-auto {
			padding-top: auto !important;
		}
		&-0 {
			padding-top: 0 !important;
		}
		&-4 {
			padding-top: 4px !important;
		}
		&-8 {
			padding-top: 8px !important;
		}
		&-12 {
			padding-top: 12px !important;
		}
		&-16 {
			padding-top: 16px !important;
		}
		&-20 {
			padding-top: 20px !important;
		}
		&-24 {
			padding-top: 24px !important;
		}
		&-28 {
			padding-top: 28px !important;
		}
		&-32 {
			padding-top: 32px !important;
		}
		&-36 {
			padding-top: 36px !important;
		}
		&-40 {
			padding-top: 40px !important;
		}
		&-44 {
			padding-top: 44px !important;
		}
		&-48 {
			padding-top: 48px !important;
		}
		&-52 {
			padding-top: 52px !important;
		}
		&-56 {
			padding-top: 56px !important;
		}
		&-60 {
			padding-top: 60px !important;
		}
		&-64 {
			padding-top: 64px !important;
		}
		&-68 {
			padding-top: 68px !important;
		}
		&-72 {
			padding-top: 72px !important;
		}
		&-76 {
			padding-top: 76px !important;
		}
		&-80 {
			padding-top: 80px !important;
		}
		&-84 {
			padding-top: 84px !important;
		}
		&-88 {
			padding-top: 88px !important;
		}
		&-92 {
			padding-top: 92px !important;
		}
		&-96 {
			padding-top: 96px !important;
		}
		&-100 {
			padding-top: 100px !important;
		}
	}

	// padding-bottom
	&-pb {
		&-initial {
			padding-bottom: initial !important;
		}
		&-inherit {
			padding-bottom: inherit !important;
		}
		&-auto {
			padding-bottom: auto !important;
		}
		&-0 {
			padding-bottom: 0 !important;
		}
		&-4 {
			padding-bottom: 4px !important;
		}
		&-8 {
			padding-bottom: 8px !important;
		}
		&-12 {
			padding-bottom: 12px !important;
		}
		&-16 {
			padding-bottom: 16px !important;
		}
		&-20 {
			padding-bottom: 20px !important;
		}
		&-24 {
			padding-bottom: 24px !important;
		}
		&-28 {
			padding-bottom: 28px !important;
		}
		&-32 {
			padding-bottom: 32px !important;
		}
		&-36 {
			padding-bottom: 36px !important;
		}
		&-40 {
			padding-bottom: 40px !important;
		}
		&-44 {
			padding-bottom: 44px !important;
		}
		&-48 {
			padding-bottom: 48px !important;
		}
		&-52 {
			padding-bottom: 52px !important;
		}
		&-56 {
			padding-bottom: 56px !important;
		}
		&-60 {
			padding-bottom: 60px !important;
		}
		&-64 {
			padding-bottom: 64px !important;
		}
		&-68 {
			padding-bottom: 68px !important;
		}
		&-72 {
			padding-bottom: 72px !important;
		}
		&-76 {
			padding-bottom: 76px !important;
		}
		&-80 {
			padding-bottom: 80px !important;
		}
		&-84 {
			padding-bottom: 84px !important;
		}
		&-88 {
			padding-bottom: 88px !important;
		}
		&-92 {
			padding-bottom: 92px !important;
		}
		&-96 {
			padding-bottom: 96px !important;
		}
		&-100 {
			padding-bottom: 100px !important;
		}
	}

	// padding-left
	&-pl {
		&-initial {
			padding-left: initial !important;
		}
		&-inherit {
			padding-left: inherit !important;
		}
		&-auto {
			padding-left: auto !important;
		}
		&-0 {
			padding-left: 0 !important;
		}
		&-4 {
			padding-left: 4px !important;
		}
		&-8 {
			padding-left: 8px !important;
		}
		&-12 {
			padding-left: 12px !important;
		}
		&-16 {
			padding-left: 16px !important;
		}
		&-20 {
			padding-left: 20px !important;
		}
		&-24 {
			padding-left: 24px !important;
		}
		&-28 {
			padding-left: 28px !important;
		}
		&-32 {
			padding-left: 32px !important;
		}
		&-36 {
			padding-left: 36px !important;
		}
		&-40 {
			padding-left: 40px !important;
		}
		&-44 {
			padding-left: 44px !important;
		}
		&-48 {
			padding-left: 48px !important;
		}
		&-52 {
			padding-left: 52px !important;
		}
		&-56 {
			padding-left: 56px !important;
		}
		&-60 {
			padding-left: 60px !important;
		}
		&-64 {
			padding-left: 64px !important;
		}
		&-68 {
			padding-left: 68px !important;
		}
		&-72 {
			padding-left: 72px !important;
		}
		&-76 {
			padding-left: 76px !important;
		}
		&-80 {
			padding-left: 80px !important;
		}
		&-84 {
			padding-left: 84px !important;
		}
		&-88 {
			padding-left: 88px !important;
		}
		&-92 {
			padding-left: 92px !important;
		}
		&-96 {
			padding-left: 96px !important;
		}
		&-100 {
			padding-left: 100px !important;
		}
	}

	// padding-right
	&-pr {
		&-initial {
			padding-right: initial !important;
		}
		&-inherit {
			padding-right: inherit !important;
		}
		&-auto {
			padding-right: auto !important;
		}
		&-0 {
			padding-right: 0 !important;
		}
		&-4 {
			padding-right: 4px !important;
		}
		&-8 {
			padding-right: 8px !important;
		}
		&-12 {
			padding-right: 12px !important;
		}
		&-16 {
			padding-right: 16px !important;
		}
		&-20 {
			padding-right: 20px !important;
		}
		&-24 {
			padding-right: 24px !important;
		}
		&-28 {
			padding-right: 28px !important;
		}
		&-32 {
			padding-right: 32px !important;
		}
		&-36 {
			padding-right: 36px !important;
		}
		&-40 {
			padding-right: 40px !important;
		}
		&-44 {
			padding-right: 44px !important;
		}
		&-48 {
			padding-right: 48px !important;
		}
		&-52 {
			padding-right: 52px !important;
		}
		&-56 {
			padding-right: 56px !important;
		}
		&-60 {
			padding-right: 60px !important;
		}
		&-64 {
			padding-right: 64px !important;
		}
		&-68 {
			padding-right: 68px !important;
		}
		&-72 {
			padding-right: 72px !important;
		}
		&-76 {
			padding-right: 76px !important;
		}
		&-80 {
			padding-right: 80px !important;
		}
		&-84 {
			padding-right: 84px !important;
		}
		&-88 {
			padding-right: 88px !important;
		}
		&-92 {
			padding-right: 92px !important;
		}
		&-96 {
			padding-right: 96px !important;
		}
		&-100 {
			padding-right: 100px !important;
		}
	}

	// top
	&-t {
		&-initial {
			top: initial !important;
		}
		&-inherit {
			top: inherit !important;
		}
		&-auto {
			top: auto !important;
		}
		&-0 {
			top: 0 !important;
		}
		&-50p {
			top: 50% !important;
		}
		&-100p {
			top: 100% !important;
		}
	}

	// bottom
	&-b {
		&-initial {
			bottom: initial !important;
		}
		&-inherit {
			bottom: inherit !important;
		}
		&-auto {
			bottom: auto !important;
		}
		&-0 {
			bottom: 0 !important;
		}
		&-50p {
			bottom: 50% !important;
		}
		&-100p {
			bottom: 100% !important;
		}
	}

	// left
	&-l {
		&-initial {
			left: initial !important;
		}
		&-inherit {
			left: inherit !important;
		}
		&-auto {
			left: auto !important;
		}
		&-0 {
			left: 0 !important;
		}
		&-50p {
			left: 50% !important;
		}
		&-100p {
			left: 100% !important;
		}
	}

	// right
	&-r {
		&-initial {
			right: initial !important;
		}
		&-inherit {
			right: inherit !important;
		}
		&-auto {
			right: auto !important;
		}
		&-0 {
			right: 0 !important;
		}
		&-50p {
			right: 50% !important;
		}
		&-100p {
			right: 100% !important;
		}
	}

	// line-height
	&-lh {
		&-initial {
			line-height: initial !important;
		}
		&-inherit {
			line-height: inherit !important;
		}
		&-normal {
			line-height: normal !important;
		}
		&-100p {
			line-height: 1 !important;
		}
		&-110p {
			line-height: 1.1 !important;
		}
		&-120p {
			line-height: 1.2 !important;
		}
		&-130p {
			line-height: 1.3 !important;
		}
		&-140p {
			line-height: 1.4 !important;
		}
		&-150p {
			line-height: 1.5 !important;
		}
		&-160p {
			line-height: 1.6 !important;
		}
		&-170p {
			line-height: 1.7 !important;
		}
		&-180p {
			line-height: 1.8 !important;
		}
		&-190p {
			line-height: 1.9 !important;
		}
		&-200p {
			line-height: 2 !important;
		}
	}

	// text-decoration
	&-td {
		&-initial {
			text-decoration: initial !important;
		}
		&-inherit {
			text-decoration: inherit !important;
		}
		&-none {
			text-decoration: none !important;
		}
		&-underline {
			text-decoration: underline !important;
		}
		&-overline {
			text-decoration: overline !important;
		}
		&-line-through {
			text-decoration: line-through !important;
		}
	}

	// text-overflow
	&-tov {
		&-initial {
			text-overflow: initial !important;
		}
		&-inherit {
			text-overflow: inherit !important;
		}
		&-clip {
			text-overflow: clip !important;
		}
		&-ellipsis {
			overflow: hidden !important;
			text-overflow: ellipsis !important;
			white-space: nowrap !important;
		}
	}

	// text-align
	&-ta {
		&-initial {
			text-align: initial !important;
		}
		&-inherit {
			text-align: inherit !important;
		}
		&-left {
			text-align: left !important;
		}
		&-right {
			text-align: right !important;
		}
		&-center {
			text-align: center !important;
		}
		&-justify {
			text-align: justify !important;
		}
	}

	// vertical-align
	&-va {
		&-initial {
			vertical-align: initial !important;
		}
		&-inherit {
			vertical-align: inherit !important;
		}
		&-baseline {
			vertical-align: baseline !important;
		}
		&-sub {
			vertical-align: sub !important;
		}
		&-super {
			vertical-align: super !important;
		}
		&-top {
			vertical-align: top !important;
		}
		&-text-top {
			vertical-align: text-top !important;
		}
		&-middle {
			vertical-align: middle !important;
		}
		&-bottom {
			vertical-align: bottom !important;
		}
		&-text-bottom {
			vertical-align: text-bottom !important;
		}
	}

	// font-size
	&-fz {
		&-initial {
			font-size: initial !important;
		}
		&-inherit {
			font-size: inherit !important;
		}
		&-10 {
			font-size: 10px !important;
		}
		&-11 {
			font-size: 11px !important;
		}
		&-12 {
			font-size: 12px !important;
		}
		&-13 {
			font-size: 13px !important;
		}
		&-14 {
			font-size: 14px !important;
		}
		&-15 {
			font-size: 15px !important;
		}
		&-16 {
			font-size: 16px !important;
		}
		&-18 {
			font-size: 18px !important;
		}
		&-20 {
			font-size: 20px !important;
		}
		&-22 {
			font-size: 22px !important;
		}
		&-24 {
			font-size: 24px !important;
		}
		&-26 {
			font-size: 26px !important;
		}
		&-28 {
			font-size: 28px !important;
		}
		&-30 {
			font-size: 30px !important;
		}
		&-32 {
			font-size: 32px !important;
		}
		&-34 {
			font-size: 34px !important;
		}
		&-36 {
			font-size: 36px !important;
		}
		&-38 {
			font-size: 38px !important;
		}
		&-40 {
			font-size: 40px !important;
		}
	}

	// font-weight
	&-fw {
		&-initial {
			font-weight: initial !important;
		}
		&-inherit {
			font-weight: inherit !important;
		}
		&-bolder {
			font-weight: bolder !important;
		}
		&-lighter {
			font-weight: lighter !important;
		}
		&-100 {
			font-weight: 100 !important;
		}
		&-200 {
			font-weight: 200 !important;
		}
		&-300 {
			font-weight: 300 !important;
		}
		&-400,
		&-normal {
			font-weight: 400 !important;
		}
		&-500 {
			font-weight: 500 !important;
		}
		&-600 {
			font-weight: 600 !important;
		}
		&-700,
		&-bold {
			font-weight: 700 !important;
		}
		&-800 {
			font-weight: 800 !important;
		}
		&-900 {
			font-weight: 900 !important;
		}
	}

	// font-family
	&-ff {
		&-initial {
			font-family: initial !important;
		}
		&-inherit {
			font-family: inherit !important;
		}
	}

	// cursor
	&-cur {
		&-initial {
			cursor: initial !important;
		}
		&-inherit {
			cursor: inherit !important;
		}
		&-normal {
			cursor: normal !important;
		}
		&-default {
			cursor: default !important;
		}
		&-pointer {
			cursor: pointer !important;
		}
		&-crosshair {
			cursor: crosshair !important;
		}
		&-help {
			cursor: help !important;
		}
		&-move {
			cursor: move !important;
		}
		&-text {
			cursor: text !important;
		}
	}

	// opacity
	&-op {
		&-initial {
			opacity: initial !important;
		}
		&-inherit {
			opacity: inherit !important;
		}
		&-0 {
			opacity: 0 !important;
		}
		&-01 {
			opacity: 0.1 !important;
		}
		&-02 {
			opacity: 0.2 !important;
		}
		&-03 {
			opacity: 0.3 !important;
		}
		&-04 {
			opacity: 0.4 !important;
		}
		&-05 {
			opacity: 0.5 !important;
		}
		&-06 {
			opacity: 0.6 !important;
		}
		&-07 {
			opacity: 0.7 !important;
		}
		&-08 {
			opacity: 0.8 !important;
		}
		&-09 {
			opacity: 0.9 !important;
		}
		&-1 {
			opacity: 1 !important;
		}
	}

	// visibility
	&-v {
		&-visible {
			visibility: visible !important;
		}
		&-hidden {
			visibility: hidden !important;
		}
	}
}
