@use '@/_global/variables/variables';
@use '@/_global/functions/mixins';

@mixin local-utility {
	// CSSショートハンド ローカル設定

	// width
	// &-w {
	// }

	// margin
	// &-m {
	// }

	// font-size
	// &-fz {
	// }

	// font-family
	&-ff {
		&-gothic {
			font-family: variables.$font-family-gothic;
		}
		&-mincho {
			font-family: variables.$font-family-mincho;
		}
		&-xxx {
			font-family: variables.$font-family-xxx;
		}
	}
}
