@use '@/_global/variables/variables';
@use '@/_global/functions/mixins';

// 接頭辞 共通
.a {
	// 接頭辞 親ディレクトリ - 子ディレクトリ
	// 例：components/atoms → -c-a-
	&-c-a {
		// ブロック名
		&-heading {
			font-weight: 600;
			line-height: 1.5;
			&.-h1 {
				font-size: 28px;

				@include mixins.mq {
					font-size: 32px;
				}
			}
			&.-h2 {
				font-size: 24px;

				@include mixins.mq {
					font-size: 28px;
				}
			}
			&.-h3 {
				font-size: 20px;

				@include mixins.mq {
					font-size: 24px;
				}
			}
			&.-h4 {
				font-size: 18px;

				@include mixins.mq {
					font-size: 20px;
				}
			}

			// add icon
			&.-add-icon {
				display: flex;
				align-items: center;
			}
			&__icon {
				width: 1.2em;
				height: 1.2em;
				margin-right: 0.5em;
			}
		}
	}
}
