@use '@/_global/variables/variables';
@use '@/_global/functions/mixins';

// 接頭辞 共通
.a {
	// 接頭辞 親ディレクトリ - 子ディレクトリ
	// 例：components/atoms → -c-a-
	&-c-a {
		// ブロック名
		&-label {
			line-height: 1;
			padding: 4px 8px;
			font-weight: 400;
			font-size: 14px;
			border-radius: 20px;
			@include mixins.mq() {
				font-size: 16px;
			}
			// color
		}
	}
}
