@use '@/_global/variables/variables';
@use '@/_global/functions/mixins';

// 接頭辞 共通
.a {
	// 接頭辞 親ディレクトリ - 子ディレクトリ
	// 例：components/atoms → -c-a-
	&-c-a {
		// ブロック名
		&-text {
			line-height: 1.5;
			font-weight: 400;
			font-size: 14px;
			@include mixins.mq() {
				font-size: 16px;
			}
			&.-lead {
				font-size: 18px;
				@include mixins.mq() {
					font-size: 20px;
				}
			}
			&.-caption {
				font-size: 10px;
				@include mixins.mq() {
					font-size: 12px;
				}
			}
			&.-overline {
				font-size: 10px;
			}
		}
	}
}
