@use '@/_global/variables/variables';
@use '@/_global/functions/mixins';

// :root {}
html {
	text-size-adjust: none;
	&:focus-within {
		scroll-behavior: smooth;

		@media (prefers-reduced-motion: reduce) {
			scroll-behavior: auto;
		}
	}
}

body {
	min-height: 100vh;
	font-family: variables.$font-family-gothic;
	line-height: 1.5;
	color: variables.$main-text-color;
	overflow-wrap: break-word;
	background-color: #333;
	line-break: strict;
	text-rendering: optimizespeed;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
