@use '@/_global/variables/variables';
@use '@/_global/functions/mixins';

// :root {}

body {
	font-family: variables.$font-family-gothic;
	color: variables.$main-text-color;
	background-color: #333;
}
